.header {
}

.wrap {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inner {
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
}

.nav {
}

.city-selector {
    margin-left: 20px;
}

.navbar {
    margin-left: auto;
}
