.header {
    margin-bottom: 48px;
}

.wrap {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.inner {
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    margin-right: 30px;
}

.nav {
}

.navbar {
    margin-left: auto;
}
